<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.g11_cw.Mapper.RequestedServiceMapper">
    <select id="getAllRequestedServiceByCuId" resultType="com.example.g11_cw.Entity.RequestedService">
        select * from requested_service
        where cuid=#{cuid}
    </select>

    <select id="getAllRequestedServiceBySeId" resultType="com.example.g11_cw.Entity.RequestedService">
        select * from requested_service
        where seid=#{seid}
    </select>

    <insert id="addRequestedService">
        insert into requested_service(cuid, seid, sestatus, sesubmit_time)
        VALUES(#{cuid},#{seid},#{sestatus},#{sesubmit_time})
    </insert>

    <update id="updateRequestedStatusByReId">
        update requested_service set
            sestatus = #{sestatus}
        where reid = #{reid}
    </update>

</mapper>