<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.g11_cw.Mapper.ServiceMapper">
    <select id="getAllService" resultType="com.example.g11_cw.Entity.Service">
        select  * from service
        where seavailablity = '1'
        <if test="sename != null ">
            and sename = #{sename}
        </if>
        <if test="seaddress != null ">
            and seaddress = #{seaddress}
        </if>
        <if test="scname != null ">
            and scname=#{scname}
        </if>

    </select>
    <insert id="addService" parameterType="com.example.g11_cw.Entity.Service" useGeneratedKeys="true" keyProperty="seid">
        insert into service (seid, pvid, sedescription, seprice, seavailablity, seavailable_time, scname)
        VALUES (#{seid},#{pvid},#{sedescription},#{seprice},#{seavailablity},#{seavailable_time},#{scname})
    </insert>

    <update id="updateService" parameterType="com.example.g11_cw.Entity.Service">
        update service set
            seid=#{seid},
            pvid=#{pvid},
            sedescription=#{sedescription},
            seprice=#{seprice},
            seavailablity=#{seavailablity},
            seavailable_time=#{seavailable_time},
            scname=#{scname},
        where seid = #{seid}
    </update>
</mapper>